<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<div class="navbar" th:fragment="header">

    <ul class="nav navbar-nav">
        <li>
            <a class="navbar-brand" href="/">Home Page</a>
        </li>
        <li>
            <a class="navbar-brand" href="/hello">Hello Page</a>
        </li>
        <li>
            <a href="/capitalize/hello" >Capitalize</a>
        </li>
        <li>
            <a href="/albums" >Albums</a>
        </li>
        <li>
            <a href="/addAlbum" >Add your Album</a>
        </li>
        <li>
            <a href="/songs" >Your songs</a>
        </li>
        <li>
            <a href="/addSong" >Add Songs</a>
        </li>
    </ul>


</div>
<h3>Amara</h3>
<p style="text-transform: uppercase" th:text="${name}"></p>
</body>
</html>